@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
body {
    font-family: 'Merriweather', serif;
    background: #e5e7ea;
}

main {
    min-height: 80vh;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2.4rem;
    padding: 1rem 0;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

h3 {
    padding: 1rem 0;
}

.rating span {
    margin: 0.1rem;
}

.bg-custom {
    background: #000;
}

.btn-custom {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px 70px;
    background: #000;
    color: #fff;
}

.btn-custom:hover {
    color: #999;
}


/* Carousel */


/* carousel */

.carouselTop {
    background: #000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
}

.carousel-caption {
    position: absolute;
    top: 0;
}

.carousel-caption h2 {
    color: #fff;
}

.carousel img {
    height: 400px;
    padding: 30px;
    margin: 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.carousel a {
    margin: 0 auto;
}

@media (max-width: 900px) {
    .carousel-caption h2 {
        font-size: 2.5vw;
    }
}